<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiceRoll | Blog</title>
</head>
<body>
    <h1>Edit Your Text</h1>
    <form action="/update" method="POST">
        <label for="blogText">You can edit your text below:</label>
        <input type="text" id="blogText" name="blogText" value="<%= textToEdit %>">
        <input type="hidden" name="editIndex" value="<%= editIndex %>"> <!-- Przekazujemy indeks do aktualizacji -->
        <input type="submit" value="OK">
    </form>
</body>
</html>