<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>index </h1>
    <form action="/writing" method="GET">
      <input type="submit" value="Write Your Blog">
    </form>
    <% if (locals.blogText) { %>
      <% if (blogTexts.length === 0) {%>
        <h3>Your Texts: </h3>
        <form id="deleteForm" action="/delete-texts" method="POST">
          <ol>
            <% blogTexts.forEach((text, index) => { %>
              <li>
                <%= text %>
                <input type="checkbox" name="deleteTexts" value="<%= index %>">
              </li>
            <% }); %>
          </ol>
          <button type="submit">Delete Selected</button>
        </form>
        <% } else { %>
          <h3>You don't have any texts currently. If you want to write some, click Writing.</h3>
          <% } %>
        <% } else { %>
        <h3>You don't have any texts currently. If you want to write some, click Writing.</h3>
        <% } %>
    
  <%- include("partials/footer.ejs") %>
    

</body>
</html>
