<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>index </h1>
    <a href="/writing">Writing</a>
    <form action="/writing" method="GET">
      <input type="submit" value="Write Your Blog">
    </form>
    <% if (locals.blogText) { %>
        <h3>Your Last Text: </h3>
        <h4><%= blogText %></h4>
        <% } else { %>
        <h3>You don't have any texts currently. If you want to write some, click Writing.</h3>
        <% } %>
    
  <%- include("partials/footer.ejs") %>
    

</body>
</html>
