<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiceRoll | Blog</title>
</head>
<body>
    <form>
      </form>
      <form action="/submit" method="POST">
        <label for="fname">Your name:</label>
        <input type="text" name="fName" placeholder="Your name" />
        <label for="blogText">Write your text down below: </label>
        <input type="text" id="blogText" name="blogText">
        <input type="submit" value="OK" />
      </form>
</body>
</html>