<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiceRoll | Blog</title>
</head>
<body>
    <form>
        <label for="fname">Your name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="blogText">Write your text down below: </label><br>
        <input type="text" id="blogText" name="blogText">
      </form>
</body>
</html>