/* Header */ 
.navbar {
    background-color: #A3B18A !important;
}
.nav-pills .nav-link.active {
    background-color: #31572C !important; /* Kolor tła dla aktywnego linku */
    color: white !important; /* Kolor tekstu dla aktywnego linku */
    margin-right: 10px;
}

.nav-link {
    color: black; /* Kolor tekstu dla nieaktywnych linków */
}

.nav-link:hover {
    color: gray; /* Kolor tekstu przy najechaniu */
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: #31572C;
  }
.icon-link{
    color:black;
}
/* Mail */
.mail{
    display: flex;
}
#buttonWrite {
    color: white;
    background-color: #31572C;
    border-radius: 0.5em; /* Zmieniono przecinek na kropkę */
    padding: 0.5em 1em; /* Dodano padding dla lepszego wyglądu */
    border: none; /* Usunięcie obramowania */
    cursor: pointer; /* Zmieniono kursor na wskaźnik */
}

#mailText {
    border-radius: 0.5em; /* Zmieniono przecinek na kropkę */
    padding: 0.5em;
    margin-right: 0.5em; /* Dodano odstęp od przycisku */
    border: 1px solid #31572C; /* Obramowanie w kolorze przycisku */
}

.start{
    display: flex;
}
/* Footer */
