/* Header */ 
.navbar {
    background-color: #A3B18A !important;
}
.nav-pills .nav-link.active {
    background-color: #31572C !important; /* Kolor tła dla aktywnego linku */
    color: white !important; /* Kolor tekstu dla aktywnego linku */
    margin-right: 10px;
}

.nav-link {
    color: black; /* Kolor tekstu dla nieaktywnych linków */
}

.nav-link:hover {
    color: gray; /* Kolor tekstu przy najechaniu */
}