
<div class="container"></div>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom navbar">
      <a href="/" class="d-flex align-items-center ms-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/images/booksvg.svg" alt="Box" height="20">
        <span class="fs-4 ms-1">DiceRoll | Blog</span> 
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
            <form action="/writing" method="GET" class="d-inline">
                <button type="submit" class="nav-link active">Write Your Blog</button>
            </form>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
    </ul>
    </header>
  </div>
